In [1]:
import pandas as pd
import ast

In [114]:
movie_database = pd.read_csv('tmdb.movies.csv')
movie_database.head()

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

In [115]:
movie_database.genre_ids = movie_database.genre_ids.apply(lambda x: list(set(ast.literal_eval(x))))

In [116]:
x = '[1,2,3,4,4,4,4]'
x = list(set(ast.literal_eval(x)))
x
(x)

[1, 2, 3, 4]

In [117]:
genre_id = {28:"Action",
            12:"Adventure",
            16:"Animation",
            35:"Comedy",
            80:"Crime",
            99:"Documentary",
            18:"Drama",
            10751:"Family",
            14:"Fantasy",
            36:"History",
            27:"Horror",
            10402:"Music",
            9648:"Mystery",
            10749:"Romance",
            878:"Science Fiction",
            10770:"TV Movie",
            53:"Thriller",
            10752:"War",
            37:"Western"}
genre_id

{28: 'Action',
 12: 'Adventure',
 16: 'Animation',
 35: 'Comedy',
 80: 'Crime',
 99: 'Documentary',
 18: 'Drama',
 10751: 'Family',
 14: 'Fantasy',
 36: 'History',
 27: 'Horror',
 10402: 'Music',
 9648: 'Mystery',
 10749: 'Romance',
 878: 'Science Fiction',
 10770: 'TV Movie',
 53: 'Thriller',
 10752: 'War',
 37: 'Western'}

In [118]:
movie_database['genre_ids']

0            [12, 14, 10751]
1        [16, 12, 14, 10751]
2              [12, 28, 878]
3            [16, 35, 10751]
4              [28, 12, 878]
                ...
26512               [18, 27]
26513               [18, 53]
26514           [28, 12, 14]
26515        [12, 28, 10751]
26516               [27, 53]
Name: genre_ids, Length: 26517, dtype: object

In [119]:
def num_to_genre(genre_id,lis):
    retList = []
    for i in range(len(lis)):
        retList.append(genre_id[lis[i]])
    return retList

In [120]:
x = movie_database.genre_ids
x

0            [12, 14, 10751]
1        [16, 12, 14, 10751]
2              [12, 28, 878]
3            [16, 35, 10751]
4              [28, 12, 878]
                ...
26512               [18, 27]
26513               [18, 53]
26514           [28, 12, 14]
26515        [12, 28, 10751]
26516               [27, 53]
Name: genre_ids, Length: 26517, dtype: object

In [121]:
x = x.apply(lambda x: num_to_genre(genre_id,x))

In [122]:
movie_database['genre_names'] = x

In [123]:
movie_database['genre_names']

0                   [Adventure, Fantasy, Family]
1        [Animation, Adventure, Fantasy, Family]
2           [Adventure, Action, Science Fiction]
3                    [Animation, Comedy, Family]
4           [Action, Adventure, Science Fiction]
                          ...
26512                            [Drama, Horror]
26513                          [Drama, Thriller]
26514               [Action, Adventure, Fantasy]
26515                [Adventure, Action, Family]
26516                         [Horror, Thriller]
Name: genre_names, Length: 26517, dtype: object

In [124]:
movie_database['string_genres'] = movie_database['genre_names'].apply(lambda x: str(x))

In [125]:
movie_database['year'] = pd.to_datetime(movie_database['release_date']).dt.year

In [126]:
movie_database.string_genres

0                     ['Adventure', 'Fantasy', 'Family']
1        ['Animation', 'Adventure', 'Fantasy', 'Family']
2             ['Adventure', 'Action', 'Science Fiction']
3                      ['Animation', 'Comedy', 'Family']
4             ['Action', 'Adventure', 'Science Fiction']
                              ...
26512                                ['Drama', 'Horror']
26513                              ['Drama', 'Thriller']
26514                 ['Action', 'Adventure', 'Fantasy']
26515                  ['Adventure', 'Action', 'Family']
26516                             ['Horror', 'Thriller']
Name: string_genres, Length: 26517, dtype: object

In [127]:
movie_database.groupby(['year','string_genres']).count()

                                       Unnamed: 0  genre_ids  id  \
year string_genres
1930 ['War', 'Drama']                           1          1   1
1933 ['Horror', 'Thriller']                     1          1   1
1936 ['Drama', 'Comedy', 'Romance']             1          1   1
1939 []                                         1          1   1
1946 ['Drama', 'History', 'Romance']            1          1   1
...                                           ...        ...  ..
2019 ['Music', 'Drama', 'Romance']              1          1   1
     ['Music', 'Drama']                         1          1   1
     ['Mystery', 'Drama', 'Thriller']           4          4   4
     ['Romance']                                1          1   1
2020 ['Crime', 'Horror']                        1          1   1

                                       original_language  original_title  \
year string_genres
1930 ['War', 'Drama']                                  1               1
1933 ['Horror', 'Thriller']                            1               1
1936 ['Drama', 'Comedy', 'Romance']                    1               1
1939 []                                                1               1
1946 ['Drama', 'History', 'Romance']                   1               1
...                                                  ...             ...
2019 ['Music', 'Drama', 'Romance']                     1               1
     ['Music', 'Drama']                                1               1
     ['Mystery', 'Drama', 'Thriller']                  4               4
     ['Romance']                                       1               1
2020 ['Crime', 'Horror']                               1               1

                                       popularity  release_date  title  \
year string_genres
1930 ['War', 'Drama']                           1             1      1
1933 ['Horror', 'Thriller']                     1             1      1
1936 ['Drama', 'Comedy', 'Romance']             1             1      1
1939 []                                         1             1      1
1946 ['Drama', 'History', 'Romance']            1             1      1
...                                           ...           ...    ...
2019 ['Music', 'Drama', 'Romance']              1             1      1
     ['Music', 'Drama']                         1             1      1
     ['Mystery', 'Drama', 'Thriller']           4             4      4
     ['Romance']                                1             1      1
2020 ['Crime', 'Horror']                        1             1      1

                                       vote_average  vote_count  genre_names
year string_genres
1930 ['War', 'Drama']                             1           1            1
1933 ['Horror', 'Thriller']                       1           1            1
1936 ['Drama', 'Comedy', 'Romance']               1           1            1
1939 []                                           1           1            1
1946 ['Drama', 'History', 'Romance']              1           1            1
...                                             ...         ...          ...
2019 ['Music', 'Drama', 'Romance']                1           1            1
     ['Music', 'Drama']                           1           1            1
     ['Mystery', 'Drama', 'Thriller']             4           4            4
     ['Romance']                                  1           1            1
2020 ['Crime', 'Horror']                          1           1            1

[3959 rows x 11 columns]

In [128]:
valueList = list(genre_id.values())

length_of_dataframe = len(movie_database.genre_ids)
for x in valueList:
    movie_database[x] = False*length_of_dataframe
movie_database

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count,...,History,Horror,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788,...,0,0,0,0,0,0,0,0,0,0
1,1,"[16, 12, 14, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610,...,0,0,0,0,0,0,0,0,0,0
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368,...,0,0,0,0,0,0,0,0,0,0
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174,...,0,0,0,0,0,0,0,0,0,0
4,4,"[28, 12, 878]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26512,26512,"[18, 27]",488143,en,Laboratory Conditions,0.600,2018-10-13,Laboratory Conditions,0.0,1,...,0,0,0,0,0,0,0,0,0,0
26513,26513,"[18, 53]",485975,en,_EXHIBIT_84xxx_,0.600,2018-05-01,_EXHIBIT_84xxx_,0.0,1,...,0,0,0,0,0,0,0,0,0,0
26514,26514,"[28, 12, 14]",381231,en,The Last One,0.600,2018-10-01,The Last One,0.0,1,...,0,0,0,0,0,0,0,0,0,0
26515,26515,"[12, 28, 10751]",366854,en,Trailer Made,0.600,2018-06-22,Trailer Made,0.0,1,...,0,0,0,0,0,0,0,0,0,0
26516,26516,"[27, 53]",309885,en,The Church,0.600,2018-10-05,The Church,0.0,1,...,0,0,0,0,0,0,0,0,0,0

In [129]:
x = [1,2,3,4,4,4]
x = list(set(x))
x

[1, 2, 3, 4]

In [130]:
for i,x in enumerate(movie_database.genre_names):
    for genre_name in x:
        movie_database[genre_name][i] = 1

<ipython-input-130-04f62e4abd81>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_database[genre_name][i] = 1

In [131]:
movie_database

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count,...,History,Horror,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788,...,0,0,0,0,0,0,0,0,0,0
1,1,"[16, 12, 14, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610,...,0,0,0,0,0,0,0,0,0,0
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368,...,0,0,0,0,0,1,0,0,0,0
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174,...,0,0,0,0,0,0,0,0,0,0
4,4,"[28, 12, 878]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26512,26512,"[18, 27]",488143,en,Laboratory Conditions,0.600,2018-10-13,Laboratory Conditions,0.0,1,...,0,1,0,0,0,0,0,0,0,0
26513,26513,"[18, 53]",485975,en,_EXHIBIT_84xxx_,0.600,2018-05-01,_EXHIBIT_84xxx_,0.0,1,...,0,0,0,0,0,0,0,1,0,0
26514,26514,"[28, 12, 14]",381231,en,The Last One,0.600,2018-10-01,The Last One,0.0,1,...,0,0,0,0,0,0,0,0,0,0
26515,26515,"[12, 28, 10751]",366854,en,Trailer Made,0.600,2018-06-22,Trailer Made,0.0,1,...,0,0,0,0,0,0,0,0,0,0
26516,26516,"[27, 53]",309885,en,The Church,0.600,2018-10-05,The Church,0.0,1,...,0,1,0,0,0,0,0,1,0,0

In [132]:
x = movie_database.release_date.apply(lambda x: (x[:4]))

In [133]:
movie_database['release_year'] = x

In [141]:
y = movie_database.groupby(['release_year'])[valueList].sum().T.unstack()

In [142]:
x = movie_database.groupby(['release_year'])[valueList].sum().unstack()
x

         release_year
Action   1930             0
         1933             0
         1936             0
         1939             0
         1946             0
                         ..
Western  2016            21
         2017            44
         2018            27
         2019             1
         2020             0
Length: 1254, dtype: int64

In [144]:
x['Western']

release_year
1930     0
1933     0
1936     0
1939     0
1946     0
        ..
2016    21
2017    44
2018    27
2019     1
2020     0
Length: 66, dtype: int64

In [137]:
x

release_year
1930          Action             0
              Adventure          0
              Animation          0
              Comedy             0
              Crime              0
                                ..
2020          Science Fiction    0
              TV Movie           0
              Thriller           0
              War                0
              Western            0
Length: 1254, dtype: int64

In [138]:
movie_database.shape

(26517, 33)

In [145]:
y.to_csv('out.csv')
x.to_csv('out2.csv')