In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [11]:
df =(pd.read_csv('zippedData/tn.movie_budgets.csv.gz', delimiter=','))
df.iloc[3000:3005]

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
3000,1,"Dec 20, 1996",Scream,"$15,000,000","$103,046,663","$173,046,663"
3001,2,"Aug 11, 2017",Annabelle: Creation,"$15,000,000","$102,092,201","$305,384,865"
3002,3,"Oct 25, 2013",Jackass Presents: Bad Grandpa,"$15,000,000","$102,003,019","$160,903,019"
3003,4,"Jun 28, 1978",Heaven Can Wait,"$15,000,000","$98,800,000","$98,800,000"
3004,5,"Dec 18, 1985",The Color Purple,"$15,000,000","$93,589,701","$93,589,701"